<head>
    <title>Wikipedia Search</title>
    <style>
        body{
            font: 16px;
        }
        .headerImage{
            width:auto;
            height:135px;
        }
        .outer {
            margin: 0 auto; /*center*/
            width: 100%; /*just to display the example*/
        }

        .inner {
            /*or move the whole container 50px to the right side*/
            margin-left:25px; 
            margin-right:-25px;
            color: DarkSlateGray;
        }
        .imageLink{
            cursor:pointer;
        }
        
    </style>
    <script>
    function changeFav(title)
    {
        var ajax = new XMLHttpRequest();

        ajax.onreadystatechange=function(){
            if (ajax.readyState==4 && ajax.status==200){
                location.reload();
            }
        }
        ajax.open('GET',"/setFavorite/"+title, true);
        ajax.send();
    }
    </script>

</head>
<body>
{% image '@AppBundle/Resources/img/wikipedia.jpg'  output="images/wikipedia.jpg" %}
<img src="{{ asset_url }}" class="headerImage">
{% endimage %}

<h4>All Favorites</h4>
<ul>
{% for entry in favList %}
    <li> <a href="https://en.wikipedia.org/wiki/{{entry.raw}}">{{entry.title}}</a>
    <div style="display:inline" onclick="changeFav('{{entry.raw}}')";>
        {% image '@AppBundle/Resources/img/delete.png'  output="images/delete.png" %}
        <img src="{{ asset_url }}" id='{{entry.raw}}' class="imageLink" height=16 width=16>
        {% endimage %}
    </div> 
    </li>
{% endfor %}
</ul>
<a href='../search'>Back to Search</a>
</body>
